/* 全体のスタイル */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f4f4f4;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

/* フォームのスタイル */
.input-section {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
    width: 100px;
    /* ラベルの固定幅 */
}


/*ラベルはブロックレベルの要素に */
label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* ログインボタンのスタイル */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* もろもろ*/
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.input-section h2 {
    padding-left: 5px;
    margin-top: 5px;
}

.input-section p {
    padding-left: 5px;
    border-bottom: 3px solid #ccc;
}

.container h2 {
    border-bottom: 3px solid #ccc;

    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

h3 {
    border-top: 2px dashed #ccc;
    border-left: 2px dashed #ccc;

    padding-top: 10px;
    padding-left: 10px;

    margin-top: 60px;
}

.container-item {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-item h4 {
    margin: 5px;
    color: #333;
}

.container-item p {
    font-size: 12px;
    margin: 5px 0 10px;
    line-height: 1.5;
}


.advice-container {
    display: flex;
    /* フレックスボックスで横に並べる */
    align-items: flex-start;
    /* 上揃え */
    margin: 10px 0;
    /* 上下のマージンを調整 */
}

.bubble-image {
    width: 50px;
    /* 画像の幅 */
    height: 50px;
    /* 画像の高さ */
    border-radius: 50%;
    /* 画像を丸くする */
    margin-right: 10px;
    /* 画像と吹き出しの間のマージン */
    padding-top: 3%;
}

.advice-bubble {
    background-color: #f1f1f1;
    /* 吹き出しの背景色 */
    border: 1px solid #ccc;
    /* 吹き出しの枠線 */
    border-radius: 10px;
    /* 吹き出しの角を丸くする */
    padding: 10px 15px;
    /* 吹き出しの内側のパディング */
    max-width: 540px;
    /* 吹き出しの幅 */
}


.summary-part{
    padding-bottom: 50px;
}

/* 親要素で画像を横並びに */
.image-row {
    display: flex;
    justify-content: space-around; /* 画像間にスペースを均等に配置 */
    align-items: center; /* 縦方向の中央揃え */

}

/* 画像の大きさを制限 */
.image-row img {
    max-width: 100px; /* 画像の最大幅を100pxに制限 */
    height: auto; /* 画像のアスペクト比を保つ */
}

